:root {
    --primary: #cdf5bc;
    --secondary: #c3e8d5;
    --border-radius: .3rem;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

main {
    background-color: rgb(183, 237, 219);
}